@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.main {
	position: absolute;
	max-width: 600px;
	top: 1em;
	left: 1em;
}




.logo-boxed {
	letter-spacing: 1px;
	line-height: 1em;
	color: #fff;
	background-color: #555;
	padding: 0.25em;
	display: inline-block;
	margin-bottom: 1em;
}

.logo {
	letter-spacing: 1px;
	line-height: 1em;
	color: #000;
	background-color: none;
	padding: 0.25em;
	padding-right: 0;
	display: inline-block;
}

.dotcom {
	display: none;
	font-size: 1.8020rem;
  line-height: 1.6648;

}
.top {
}

.bottom {
	margin-left: 9em;
}

.name-and-title {
	display: inline-block;
	margin: 0.25em;
}

.name, .job-title {
	line-height: 1em;
	margin: 0.25em;
}

.job-title {

}

.contact-info-list {
	list-style: none;
	padding: 0;
	padding-top: 1.5em;
}

.contact-info-list li {
	display: inline-block;
	width: 15%;
}

.contact-info-list img {
	width: 2em;
}

.email {
	padding-bottom: 1em;
	text-decoration: none;
	font-weight: bold;
	color: #333;
}

.mugshot {
	position: absolute;
	left: 0;
	top: 8em;

}

.mugshot img {
	width: 7.75em;
}

@media only screen and (min-width: 60em) {
	.main {
		position: absolute;
		top: 25vh;
		left: calc(50% - 300px);
	}
}

@media only screen and (min-width: 90em) {

}

@media only screen and (min-width: 120em) {

}
