@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  position: relative;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes fade-left {
	0% {
	left: 0;
	opacity: 1;
} 100% {
	left: -2em;
	opacity: 0;
	display: width: 0;
	}
}

@keyframes box {
	0% {
		color: #333;
		background-color: none;
} 100% {
		color: #000;
		background-color: #555;
		padding: 0.25em;
	}
}

@keyframes bottom-slide {
	0% {
		opacity: 0;
		top: -5em;
} 100% {
		opacity: 1;
		top: 0;
	}
}

@keyframes slide-right {
	0% {
		opacity: 0;
		left: -9em;
} 100% {
		opacity: 1;
		left: -4em;
	}
}



.main {
	position: absolute;
	max-width: 600px;
	top: 1em;
	left: 1em;
}

/*.logo-boxed {
	letter-spacing: 1px;
	line-height: 1em;
	color: #fff;
	background-color: #555;
	padding: 0.25em;
	display: inline-block;
	margin-bottom: 1em;
}
*/
.logo {
	letter-spacing: 1px;
	line-height: 1em;
	color: #000;
	background-color: none;
	padding: 0.25em;
	display: inline-block;
	animation: box 2s forwards ease-out;
}

.dotcom {
	display: inline-block;
	position: relative;
	font-size: 1.8020rem;
  line-height: 1.6648;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
	animation: fade-left 1s forwards ease-out;
}
.top {
	overflow: hidden;
}

.bottom {
	position: relative;
	margin-left: 9em;
	animation-delay: 4s;
	animation: bottom-slide 2s forwards;
}

.name-and-title {
	display: inline-block;
	margin: 0;
	position: relative;
	left: -4em;
	animation: slide-right 2s forwards;
}

.name, .job-title {
	line-height: 1em;
	margin-bottom: 0.25em;
}

.job-title {

}

.contact-info-list {
	list-style: none;
	padding: 0;
	padding-top: 1.5em;
}

.contact-info-list li {
	display: inline-block;
	width: 15%;
}

.contact-info-list img {
	width: 2em;
}

.email {
	padding-bottom: 1em;
	text-decoration: none;
	font-weight: bold;
	color: #333;
}

.mugshot {
	position: absolute;
	left: -9em

}

.mugshot img {
	width: 7.75em;
}

@media only screen and (min-width: 60em) {
	.main {
		position: absolute;
		top: 25vh;
		left: calc(50% - 300px);
	}
}

@media only screen and (min-width: 90em) {

}

@media only screen and (min-width: 120em) {

}
